<input [(ngModel)]="book.toSearch" placeholder="type book" #ctrl="ngModel" required />
<select [(ngModel)]="book.qType" name="query-type">
    <option value="intitle">by title</option>
    <option value="inauthor">by author</option>
    <option value="isbn">by ISBN</option>

    
</select>
<button (click)='googleApiService.search(googleApiService.queryBuild(book.toSearch,book.qType))'>search</button>

<div *ngIf="googleApiService.data; then data else loading"></div>
<ng-template #data>
  <p></p>
  <div *ngFor="let data of googleApiService.data.items">
    <div class= "product"> <!-- if book in sales, then display it-->
      <p>Titre : {{ data.volumeInfo.title }} </p>
      <p>Auteur : {{data.volumeInfo.authors[0]}}</p>
      <p>Prix : {{ data.saleInfo.listPrice?.amount || "not for sale"}} € </p>
      <p>Id : {{ data.id }}</p>
      <img [src]="data.volumeInfo.imageLinks.smallThumbnail" alt="data cover">
      <button >add to cart</button>
      <button routerLink ="/detail/{{data.id}}">details</button>


    </div>
  </div>
</ng-template>
<ng-template #loading> Loading...</ng-template>
