.shopping-cart{
  position: fixed;
  border:#D70D10 2px double;
  display: flex;
  flex-direction: column;
  background-color: #283747;  
  top:85px;
  right:0px;
  font-family: 'Permanent Marker', cursive;
}
.article{
  display: flex;
  flex-direction: row;
  color: whitesmoke;
}

.total{
  color:whitesmoke;
}