.shopping-cart{
  position: fixed;
  border: red 2px double;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  top:85px;
  right:0px;
  min-width: 200px;
  max-width: 200px;
  word-wrap: break-word;


  
}
.article{
  display: flex;
  flex-direction: row;
}