<div *ngFor="let data of googleApiService.data.items"> <!-- if book in sales, then display it-->
  <div *ngIf="data.id === googleApiService.dataId">
  <p>Title : {{ data.volumeInfo.title || 'unavailable' }} </p>
  <p>Author : {{data.volumeInfo.authors ||'unavailable'}}</p>
  <p>Kind : {{data.volumeInfo.categories || 'unavailable'}}</p>
  <p>Publisher : {{data.volumeInfo.publisher || 'unavailable'}}</p>
  <p class="description"> Description : {{data.volumeInfo.description || 'unavailable'}}</p>
  <p>ISBN-13 : {{data.volumeInfo.industryIdentifiers[0]?.identifier || 'unavailable'}}</p>
  <p>ISBN-10 : {{data.volumeInfo.industryIdentifiers[1]?.identifier || 'unavailable'}}</p>

  <p>number of page : {{data.volumeInfo.pageCount || 'unavailable'}}</p>
  <p>Language : {{data.volumeInfo.language || 'unavailable'}}</p>
  <p>Id : {{ data.id || 'unavailable'}}</p>
  <p>eBook Format : {{data.saleInfo.isEbook  || 'unavailable'}}</p>
  <img *ngIf="data.volumeInfo.imageLinks" [src]="data.volumeInfo.imageLinks.smallThumbnail" alt="data cover">
  <p>Rating : {{data.volumeInfo.averageRating || 'unavailable'}}</p>
  <p>Price : {{ data.saleInfo.listPrice?.amount || "10"}} € </p>

  <button >add to cart</button>
  <i class="fas fa-shopping-cart"></i>
  <button routerLink ="">Back</button>
</div>
</div>